@page "/authors"
@attribute [Authorize(UserRoleManagementPermissions.Authors.Default)]
@using UserRoleManagement.Permissions
@using Volo.Abp.Application.Dtos
@using UserRoleManagement.Authors
@using UserRoleManagement.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inject IStringLocalizer<UserRoleManagementResource> L
@inject AbpBlazorMessageLocalizerHelper<UserRoleManagementResource> LH
@inject NavigationManager NavigationManager
@inherits AbpCrudPageBase<IAuthorAppService, AuthorDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateAuthorDto>
<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <CardTitle>@L["Menu:Authors"]</CardTitle>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Secondary" Clicked="ExportAuthorsAsync">
                    <Icon Name="IconName.Download" />
                    @L["ExportToExcel"]
                </Button>
                @if (HasCreatePermission)
                {
                    <Button Color="Color.Primary"
                        Clicked="OpenCreateModalAsync">
                        <Icon Name="IconName.Add" />
                        @L["NewAuthor"]
                    </Button>
                }
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="AuthorDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  Page="CurrentPage"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="AuthorDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="AuthorDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="AuthorDto"
                                          Text="@L["Edit"]"
                                          Visible=HasUpdatePermission
                                          Clicked="() => OpenEditModalAsync(context.Item)" />
                            <EntityAction TItem="AuthorDto"
                                          Text="@L["Delete"]"
                                          Visible=HasDeletePermission
                                          Clicked="() => DeleteEntityAsync(context.Item)"
                                          ConfirmationMessage="()=>GetDeleteConfirmationMessage(context.Item)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="AuthorDto"
                                Field="@nameof(AuthorDto.Name)"
                                Caption="@L["Name"]"></DataGridColumn>
                <DataGridColumn TItem="AuthorDto"
                                Field="@nameof(AuthorDto.BirthDate)"
                                Caption="@L["BirthDate"]">
                    <DisplayTemplate>
                        @context.Item.BirthDate.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="AuthorDto"
                                Field="@nameof(AuthorDto.ShortBio)"
                                Caption="@L["ShortBio"]"></DataGridColumn>
                <DataGridColumn TItem="AuthorDto"
                                Field="@nameof(AuthorDto.CreationTime)"
                                Caption="@L["CreationTime"]">
                    <DisplayTemplate>
                        @context.Item.CreationTime.ToLongDateString()
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
<Modal @ref="@CreateModal" Centered="true">
    <ModalBackdrop />
    <ModalContent>
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewAuthor"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextInput @bind-Value="@NewEntity.Name" AutoFocus="true">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextInput>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["BirthDate"]</FieldLabel>
                        <DateInput TValue="DateTime" @bind-Value="NewEntity.BirthDate"/>
                    </Field>
                    <Field>
                        <FieldLabel>@L["ShortBio"]</FieldLabel>
                        <MemoInput @bind-Value="@NewEntity.ShortBio" Rows="4" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">@L["Save"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
<Modal @ref="@EditModal" Centered="true">
    <ModalBackdrop />
    <ModalContent>
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Edit"]</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextInput @bind-Value="@EditingEntity.Name">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextInput>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["BirthDate"]</FieldLabel>
                        <DateInput TValue="DateTime" @bind-Value="EditingEntity.BirthDate"/>
                    </Field>
                    <Field>
                        <FieldLabel>@L["ShortBio"]</FieldLabel>
                        <MemoInput @bind-Value="@EditingEntity.ShortBio" Rows="4" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">@L["Save"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
@code
{
    public Authors() // Constructor
    {
        CreatePolicyName = UserRoleManagementPermissions.Authors.Create;
        UpdatePolicyName = UserRoleManagementPermissions.Authors.Edit;
        DeletePolicyName = UserRoleManagementPermissions.Authors.Delete;
        LocalizationResource = typeof(UserRoleManagementResource);
    }
    private async Task ExportAuthorsAsync()
    {
        var token = await AppService.GetDownloadTokenAsync();
        NavigationManager.NavigateTo($"/api/app/author/as-excel-file?downloadToken={Uri.EscapeDataString(token.Token)}", forceLoad: true);
    }
}
